/* cs -> custom styles*/
.cs-category-button {
    width: 6rem;
    text-align: center;
    /* background-color: yellow; */
    padding-block: 0.3em;
    border-bottom: 2px solid transparent;
}

.cs-category-button:hover {
    border-bottom: 2px solid var(--signature-color);
}

.active {
    border-bottom: 2px solid var(--signature-color);
}
